body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #b71c1c;
}

p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

img {
    width: 300px;
    border-radius: 10px;
    margin: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e65100;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    background-color: #ffcc80;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    width: 150px;
}
